# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
/backend/staticfiles/
/backend/media/
/backend/*/migrations/__pycache__/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Node (agar kerak bo'lsa)
node_modules/
dist/
build/
